@page "/addquery2"
@using linqQueries.Data;
@using linqQueries.Model;
@inject AppDbContext _db


<h3>Additional Query 2 Solution</h3>

@code {
    List<Student> students = new List<Student>();

    protected override void OnInitialized()
    {
        LoadQuery();
    }

    void LoadQuery()
    {
        var averageAgeByMajor = _db.stu
     .GroupBy(s => s.major)
     .Select(group => new
     {
         Major = group.Key,
         AverageAge = group.Average(s => s.age)
     });

        // Result
        foreach (var majorInfo in averageAgeByMajor)
        {
            Console.WriteLine($"Major: {majorInfo.Major}, Average Age: {majorInfo.AverageAge}");
        }
    }
}
