@page "/addquery4"
@using linqQueries.Data;
@using linqQueries.Model;
@inject AppDbContext _db


<h3>Additional Query 4 Solution</h3>

@code {
    List<Student> students = new List<Student>();

    protected override void OnInitialized()
    {
        LoadQuery();
    }

    void LoadQuery()
    {
        var computerScienceStudents = _db.stu
    .Where(s => s.enrolls.Any(e => e.classes.Any(c => c.faculty.depid == 22)))
    .Select(s => s.sname);

        // Result
        foreach (var studentName in computerScienceStudents)
        {
            Console.WriteLine($"Student Name: {studentName}");
        }


    }
}
}
