@page "/queryb"
@using linqQueries.Data;
@using linqQueries.Model;
@inject AppDbContext _db
<h3>QueryB</h3>

<table>
    <tbody>
        @foreach (var item in students)
        {
        <td>@item.sid</td>
        <td>@item.major</td>
        }
    </tbody>
</table>

@code {
    List<Student> students = new List<Student>();

    protected override void OnInitialized()
    {
        LoadQuery();
    }

    void LoadQuery()
    {
        students = (from s in _db.stu
                where s.enrolls.All(c => c.classes.Count != 0)
                select new Student
                    {
                        sid = s.sid,
                        major = s.major
                    }).ToList();
    }
}